<% if current_user %>
  <div id="mine" class="page">
    <p>My apps:</p>
    <ul>
      <%=render partial: "app", collection: current_user.apps %>
      <% if current_user.apps.count == 0 %>
        <li>You haven't added any apps</li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="register" class="page">
  <p>Create your developer profile</p>
  <p>
    Login:
    <a href="/auth/twitter" class="button pill big icon twitter">Twitter</a>
    <a href="/auth/facebook" class="button pill big icon facebook">Facebook</a>
  </p>
</div>

<div id="apps" class="page">
  <input type="search" placeholder="App name" />
  <ul class="results"></ul>
</div>

<div id="devs" class="page">
</div>

<div id="about" class="page">
  <p>Made by a few devs from Quick Left on a (long) lunch break at the 360iDev conference in Denver.</p>
</div>
