<!doctype html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7" manifest="default.appcache?v=1"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" manifest="default.appcache?v=1"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="img/l/apple-touch-icon.png">
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-startup-image" href="img/l/splash.png">
  
  <meta http-equiv="cleartype" content="on">
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/lib/gh-buttons.css">
  <link rel="stylesheet" href="css/style.css?v=1">
 
  <script src="js/libs/modernizr-custom.js"></script>
</head>

<body>
  <div id="container">
    <header>
      <h1>iDev'd <code>this</code></h1>
    </header>
    <div id="nav" class="button-container">

      <div class="actions button-group">
        <% if current_user %>
          <li><a href="#" data-page="mine" class="button big primary">Mine</a></li>
        <% else %>
          <li><a href="#" data-page="register" class="button big primary">Register</a></li>
        <% end %>
        <li><a href="#" data-page="apps" class="button big">Apps</a></li>
        <li><a href="#" data-page="devs" class="button big">Devs</a></li>
      </div>

      <% if current_user %>
        <div class="button-group minor-group">
          <%=link_to 'Logout', logout_path, class: 'button big' %>
        </div>
      <% end %>

    </div>

    <%= yield %>

    <footer></footer>
  </div> <!--! end of #container -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  
  <script src="js/mylibs/helper.js"></script>
  <script src="js/script.js"></script>
  
  <script>
    MBP.scaleFix();
    
    yepnope({
      test : Modernizr.mq('(min-width)'),
      nope : ['js/libs/respond.min.js']
    });
  </script>

</body>
</html>
