<!doctype html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7" manifest="default.appcache?v=1"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" manifest="default.appcache?v=1"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="img/l/apple-touch-icon.png">
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-startup-image" href="img/l/splash.png">
  
  <meta http-equiv="cleartype" content="on">
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/themes/ui-lightness/jquery-ui.css">
  <link rel="stylesheet" href="css/lib/gh-buttons.css">
  <link rel="stylesheet" href="css/style.css?v=1">
 
  <script src="js/libs/modernizr-custom.js"></script>
</head>

<body>
  <div id="container">
    <header>
      <%= image_tag '/img/logo.png' %>
      <input id="appSearch" type="search" placeholder="App name" />
      <% unless current_user %>
        <div id="register" class="page">
          <p>Create your developer profile</p>
          <p>
            Login:
            <a href="/auth/twitter" class="button pill big icon twitter">Twitter</a>
            <a href="/auth/facebook" class="button pill big icon facebook">Facebook</a>
          </p>
        </div>
      <% else %>
        <div id="register">
          <p>Signed in as <%= current_user.username %> </p>
          <%= link_to "Logout", logout_path, class: 'button big pill' %>
        </div>
      <% end %>
    </header>
    <div id="content">
      <%= yield %>
    </div>

    <footer>
      <p>a quick <a href="http://quickleft.com">Quick Left</a> project.</p>
    </footer>
  </div> <!--! end of #container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  
  <script src="js/mylibs/helper.js"></script>
  <script src="js/script.js"></script>
  
  <script>
    MBP.scaleFix();
    
    yepnope({
      test : Modernizr.mq('(min-width)'),
      nope : ['js/libs/respond.min.js']
    });
  </script>

</body>
</html>
